
/* Section-119 Styles */
#section-119 {
	height: 25em;
	color: #fff;
	background-color: #222;
}
.content-slider {
	position: relative;
	width: 100%;
	height: 100%;
   }
.content-slider	input {display: none;}
	.slider {
		position: relative;
		width: inherit;
		height: inherit;
		overflow: hidden;
       }
		.banner {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 0;
			width: inherit;
			height: inherit;
			text-align: center;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			transition: all .5s ease;
           }
			.banner-inner-wrapper {
				height: 100%;
				padding-top: 1em;
				background-image: linear-gradient(rgba(243,129,129,.9), rgba(252,227,138,.9));
				box-sizing: border-box;
               }
                   .banner-inner-wrapper h1 {
					font-size: 6em;
					line-height: 95%;
				}
                   .banner-inner-wrapper .line {
						display: block;
						width: 5em;
						height: 0.1875em;
						margin: 2.5em auto;
						background: #fff;
				}
				.learn-more-button {
					padding-bottom: 5em;
					z-index: 15 !important;
                   }
				.learn-more-button	a {
						padding: 0.5em 2em;
						text-align: center;
						font-size: 0.875em;
						color: #fff;
						text-transform: uppercase;
						border: 0.1875em solid #fff;
                   }
                   .learn-more-button	a:hover {
							color: #e88382;
							border-color: #e88382;
							transition: .3s;
				}



        .controls {
            display: block;
            width: 70%;
            margin: 0 auto;
            color: #fff;
        }
        .controls label {
            position: relative;
            display: inline-block;
            width: 20%;
            height: 3.1em;
            overflow: hidden;
            margin: 0 1em;
            padding-top: 1em;
            text-align: left;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .3s;
        }
        .controls label p{
            text-align: center;
            font-size: 1em;
            color: #EF605D;
            font-weight: 900;

        }
            .progressbar {
                position: absolute;
                top: 0;
                left: 0;
                height: 3px;
                width: 100%;
                background: #f6eac5;
                z-index: 100;
            }
            .progressbar-fill {
                position: inherit;
                width: inherit;
                height: inherit;
                margin-left: -100%;
                background: #e88382;
            }

            .progressbar-fill span {
						font-size: 1.4em;
						font-weight: 700;
					}
            .progressbar-fill span:hover {color: #e88382;}

		#banner1:checked ~ .slider #top-banner-1,
		#banner2:checked ~ .slider #top-banner-2,
		#banner3:checked ~ .slider #top-banner-3,
		#banner4:checked ~ .slider #top-banner-4 {
			opacity: 1;
			z-index: 1;
		}
		#banner1:checked ~ nav label:nth-of-type(1),
		#banner2:checked ~ nav label:nth-of-type(2),
		#banner3:checked ~ nav label:nth-of-type(3),
		#banner4:checked ~ nav label:nth-of-type(4) {
			cursor: pointer;
			color: #fff;
			transition: all .5s;
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar {
			background: #fff;
		}
		#banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
		#banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
		#banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
		#banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
			animation: progressBarFill 7s linear;
		}


/* Animations  미디어 반응형으로 나오는 css코드*/
@keyframes progressBarFill {
	from {margin-left: -100%;}
	to {margin-left: 0;}
}

/* Media Queries */
@media only screen and (min-width: 1920px) {
	body {font-size: 22px;}
	.main-header .header-wrapper {width: 57%;}
	#section-119 {height: 20em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 4em;}
}

@media only screen and (max-width: 1919px) {
	body {font-size: 20px;}
	.main-header .header-wrapper {width: 60%;}
	#section-119 {height: 18em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 3em;}
}

@media only screen and (max-width: 1680px) {
	body {font-size: 18px;}
	.main-header .header-wrapper {width: 65%;}
	#section-119 {height: 16em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 3em;}
}

@media only screen and (max-width: 1366px) {
	body {font-size: 16px;}
	.main-header .header-wrapper {width: 70%;}
}

@media only screen and (max-width: 1120px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.4em;}
	#section-119 {height: 13em;}
	#section-119 .content-slider nav {bottom: -0.2em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 2em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 1em auto;}
}

@media only screen and (max-width: 1024px) {
	body {font-size: 14px;}
	.main-header .header-wrapper .main-menu li {padding: 0.75em 1.3em;}
	#section-119 .content-slider nav {bottom: 0;}
	#section-119 .content-slider nav .controls {width: 80%;}
}

@media only screen and (max-width: 860px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.9em;}
	#section-119 {height: 10em;}
	#section-119 .content-slider nav {bottom: -1em;}
	#section-119 .content-slider nav .controls {width: 90%;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 2em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 4.5em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper {padding-top: 3em;}
}

@media only screen and (max-width: 768px) {
	.main-header .header-wrapper .main-menu li {padding: 0.75em 0.5em;}
	#section-119 {height: 8em;}
	#section-119 .content-slider nav .controls {width: 100%;}
	#section-119 .content-slider nav .controls label {width: 19%; font-size: 0.8em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 3em auto;}
}

@media only screen and (max-width: 650px) {.main-header .header-wrapper {width: 95%;}}

@media only screen and (max-width: 480px) {
	.main-header .header-wrapper {width: 40%;}
	.main-header .header-wrapper .main-logo {display: none;}
	.main-header .header-wrapper .main-menu li {padding: 0.2em 0.3em;}
	.main-header .header-wrapper .main-menu li:last-child,
	.main-header .header-wrapper .main-menu li:nth-child(6) {padding: 0.2em 0.7em;}
	#section-119 {height: 6em;}
	#section-119 .content-slider nav {bottom: -0.5em;}
	#section-119 .content-slider nav .controls label {width: 40%; font-size: 0.7em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h2 {font-size: 1.5em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper h1 {font-size: 3em;}
	#section-119 .content-slider .slider .banner .banner-inner-wrapper .line {margin: 3em auto;}
}
/***************************/
#video-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 99999;
    }

    #video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
	.videologo {
	  position: absolute;
      top: 20px;
      left: 20px;
      z-index: 199999;
	}
    #video-controls {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    #video-label {
      position: absolute;
      top: 60px;
      right: 130px;
    }
    #video-label label {
    	font-weight:bold;
    	font-size:20px;
    }

    #video-controls button {
      width:50px;
      height:60px;
      font-weight:bold;
      color:white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size :15px;
      border-radius: 20px
    }

/* input hover 표시*/
.input-wrapper:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  border-radius: 0px 10px 10px;
}
.input-wrapper input:focus {
  outline: none;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  
  .sidenav .container ul li {
  	padding: 20px 20px 20px 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
    justify-content: space-between;
    text-align: left;
    border-bottom: 3px dashed #F4F4F4;   
  }
  
  /* The navigation menu links 
  하나씩 설정하고 싶을 때 열어서 따로 설정
  .sidenav .sidenava1 {
    padding: 8px 30px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    transition: 0.3s;
    justify-content: space-between;
    text-align: right;
  }
  .sidenav .sidenava2 {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 2px dashed gray;
    border-top: 2px dashed gray;


  }
  .sidenav .sidenava3 {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 2px dashed gray;

  }
  .sidenav .sidenava4 {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 2px dashed gray;

  }
  .sidenav .sidenava5 {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border-bottom: 2px dashed gray;
    transition: 0.3s;
  }
  .sidenav .sidenava6 {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 2px dashed gray;    
  }
  .sidenav .sidenava7 {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 2px dashed gray;    
  }
  .sidenav .sidenava8 {
    margin-top: 10px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    border-bottom: 2px dashed gray;    
  }
  */
  /* 사이드바 색 넣기 */

  .sidebar-header{
    padding: 20px;
    color: #F5F5F5;
    background-color: #FDCDBC;
  }

  .sidenav ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    .sidenav ul li a:hover {
        color: #EF605D;
    }
    a[data-toggle="collapse"] {
        position: relative;
    }
    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #ffcc19;
    transition: all 0.3s;
    text-decoration: none;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding-left:20px;
    padding-right: 20px;    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/********** Template CSS **********/
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}



/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar-white .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: fixed;
    margin-right: 25px;
    padding: 35px 0;
    color: #222 !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
    z-index: 99999;
}

.sticky-top.navbar-white .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-white .navbar-nav .nav-link:hover,
.navbar-white .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}




@media (max-width: 991.98px) {
    .sticky-top.navbar-white {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-white .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-white .navbar-nav .nav-link,
    .sticky-top.navbar-white .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-white .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-white {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-white {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-white .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-white .navbar-nav .nav-link:hover::before,
    .navbar-white .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-white .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*** Hero Header
.hero-header {
	display: flex;
    justify-content: center; 
    align-items: center;

}

.video-background {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
}

 ***/

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/booking.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}